html, body {
    height: 100%;
    margin: 0;
  }
  
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
  }
  
  body {
    line-height: 1;
  }
  
  html {
    font-size: 16px;
  }
  
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, body, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, aw-i18n, button {
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", Verdana, Arial, "YU Gothic UI", "MS PGothic", "Hiragino Sans", "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  }
  
  body {
    font-size: 0.75rem;
    line-height: 1.32;
  }
  
  body, table td {
    overflow: hidden;
  }
  
  input {
    border-radius: 0;
  }
  
  select, .gwt-ListBox, input[type=text], .gwt-TextBox, textarea, .gwt-TextArea, input[type=password] {
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", Verdana, Arial, "YU Gothic UI", "MS PGothic", "Hiragino Sans", "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, sans-serif;
    font-size: 0.75rem;
    padding: 0.4375rem;
    box-sizing: border-box;
    border-width: 0.0625rem;
    border-style: solid;
    border-radius: 2px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    letter-spacing: normal;
  }
  
  select:focus, .gwt-ListBox:focus, input[type=text]:focus, .gwt-TextBox:focus, textarea:focus, .gwt-TextArea:focus, input[type=password]:focus, input[type=file]:focus {
    outline: none;
    border: 0.125rem solid transparent;
    padding: 0.375rem;
  }
  
  .aw-base-scrollPanel {
    /* This hurts the IE solution. */
    overflow-x: hidden;
    overflow-y: auto;
    /* iPad */
    -webkit-overflow-scrolling: touch;
    width: 100%;
    /* Fix for scrollPanel not filling page, hiding drop-down lists (LCS-135845) */
    flex: auto;
  }
  
  .awRoot .aw-order-two {
    order: 2;
  }
  
  .aw-layout-navigationCommandbar, .aw-layout-infoCommandbar, .aw-layout-navigationCommandbar aw-command-bar, .aw-layout-infoCommandbar aw-command-bar, .aw-layout-primaryWorkarea, .awRoot, aw-page, aw-cell-command-bar, .aw-layout-sublocationTabPanel aw-gwt-presenter {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .aw-layout-flexRow, .aw-layout-flexColumn, aw-table, aw-scrollpanel {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  
  .aw-layout-flexColumn, .aw-layout-linkWithPopupContainer, .aw-layout-popupPanelContainer, aw-table, aw-scrollpanel {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .awRoot, aw-page, .aw-layout-sublocationTabPanel > ng-transclude > aw-gwt-presenter, .aw-layout-sublocationTabPanel > ng-transclude > ui-view > aw-gwt-presenter {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: hidden;
  }
  
  .aw-layout-panelBody {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    /* Removed for D-21482
  Having overflow: hidden here overrides the special case fix for IE11 on Surface Pro,
  if you change, or re-introduce this verify that it is possible to scroll using
  touch only on Surface
  overflow: hidden; */
  }
  
  .aw-layout-panelContent, .aw-layout-flexColumn, aw-scrollpanel {
    overflow: hidden;
  }
  
  .aw-layout-flexColumn.aw-base-scrollPanel, .aw-layout-panelMain {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .aw-layout-panelHeader, .aw-layout-panelBody, .aw-layout-panelFooter {
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
  }
  
  .aw-layout-mainView {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .aw-layout-mainView .awRoot .aw-layout-subLocation {
    border-radius: 3px 3px 0 0;
  }
  
  .aw-layout-flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .aw-layout-nowrap {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  
  .aw-flex-column {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .aw-flex-column.afx-fill {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  
  .aw-flex-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .aw-flex-row.afx-fill {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  
  .aw-layout-summaryContent {
    height: auto;
  }
  
  .aw-layout-panelMain {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  
  .text-input {
    height: 28px;
    width: 250px;
  }

  .aw-layout-panelSection.aw-layout-tableSection,
.aw-layout-panelSectionContent {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.aw-layout-panelSectionContent {
  padding: 0;
  min-height: 1px;
  margin-bottom: 24px;
}

.aw-layout-panelSectionContent textarea,
.aw-layout-panelSectionContent input[type=text] {
  width: 100%;
  height: 100%;
}

.aw-layout-subLocation .aw-layout-panelSectionContent {
  padding: 16px;
}

.aw-layout-panelMain .aw-layout-panelBody .aw-layout-panelSectionContent {
  width: calc(100% - 32px);
  padding: 16px 16px 0;
}